<a href="https://colab.research.google.com/github/jrl309/datasharing/blob/master/class_1_exercises_msfo_833_spring_2023_starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions



1. **Make a copy of this notebook** so you can edit and save your own version of it. Do the work in your copy of the notebook. 
2. **Update the title of your notebook** to include your name and/or net id.
3. Follow along with some Python warmup, as led by the prof.
3. Finally, **Write Python code** to address each of the "Challenges". 

> NOTE: Each of the challenges below contains a provided data structure in a setup cell, as well as some questions relating to the provided data structure. For each challenge, run its setup cell to define the provided variable, then write additional code cells below which reference that variable to answer the provided questions.

# Python Practice / Warmup

## Datatypes

In [ ]:
2 + 2

4

In [ ]:
"2" + "2"

'22'

In [ ]:
# 2 + "2" #> TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:

print(type(2))


print(type("2"))

<class 'int'>
<class 'str'>

## String Operations and Printing

The Print Statement

In [ ]:
print("HELLO")

HELLO

Printing comma separated items introduces a space:

In [ ]:
print("HELLO", "WORLD")

print("HELLO", "WORLD", 999)

my_list = [1,2,3,4]
print("HELLO", "WORLD", 999, my_list)

HELLO WORLD
HELLO WORLD 999
HELLO WORLD 999 [1, 2, 3, 4]

String Concatenation:

In [ ]:
print("HELLO" + "WORLD")

HELLOWORLD

In [ ]:
print("HELLO" + " WORLD")
print("HELLO " + "WORLD")
print("HELLO" + " " + "WORLD")

HELLO WORLD
HELLO WORLD
HELLO WORLD

String Interpolation / Format strings:

In [ ]:
price = 4.99

print("PRICE:", price)

print(f"PRICE: {price}")

PRICE: 4.99
PRICE: 4.99

## List Operations

In [ ]:
my_numbers = [1, 2, 3, 4, 5, 6, 7]

print(my_numbers)

[1, 2, 3, 4, 5, 6, 7]

Counting Items in a List:

In [ ]:
print(len(my_numbers))

7

Looping:

In [ ]:
for x in my_numbers:
    print(x)

1
2
3
4
5
6
7

In [ ]:
for n in my_numbers:
    print(n)

1
2
3
4
5
6
7

In [ ]:
for item in my_numbers:
    print(item)

1
2
3
4
5
6
7

In [ ]:
for n in my_numbers:
    print("HELLO")

HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO

Mapping:

In [ ]:
# the long way:

bigger_nums = []

for x in my_numbers:
    bigger_nums.append(x * 100)

print(bigger_nums)

[100, 200, 300, 400, 500, 600, 700]

In [ ]:
# using a list comprehension one liner:

[x*100 for x in my_numbers]

[100, 200, 300, 400, 500, 600, 700]

Filtering:

In [ ]:
# the long way:

some_nums = []

for x in my_numbers:
    if x > 5:
        some_nums.append(x)

print(some_nums)

[6, 7]

In [ ]:
# using a list comprehension one liner
[x for x in my_numbers if x > 5]

[6, 7]

List Comprehensions for Mapping and Filtering:

In [ ]:
# using a list comprehension one liner
[x*100 for x in my_numbers if x > 5]

[600, 700]

## Ranges

Assembling Ranges:

In [ ]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
n = 10

list(range(1, n+1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in range(0,3):
    print(num)

0
1
2

# Python Data Challenges

## Challenge 1 (Gradebook)


Given the Python variable called `gradebook` provided below, write Python code which references that variable to perform each of the following tasks...

A) Print the date this data was downloaded (i.e. `"2018-06-05"`).

B) Print the number of students in the gradebook (i.e. `10`).

C) Loop through each student and print their grade, each on a new line.

D) Print the average grade (i.e. `83.64`). 

E) Print the median grade (i.e. `87.6`). HINT: it might be helpful to leverage [the `statistics` module](https://github.com/prof-rossetti/intro-to-python/blob/master/notes/python/modules/statistics.md) or the `numpy` package

In [ ]:
# leave this cell as-is (and run it)
gradebook = {
    "downloadDate": "2018-06-05",
    "professorId": 123,
    "students":[
        {"studentId": 1, "finalGrade": 76.7},
        {"studentId": 2, "finalGrade": 85.1},
        {"studentId": 3, "finalGrade": 50.3},
        {"studentId": 4, "finalGrade": 89.8},
        {"studentId": 5, "finalGrade": 97.4},
        {"studentId": 6, "finalGrade": 75.5},
        {"studentId": 7, "finalGrade": 87.2},
        {"studentId": 8, "finalGrade": 88.0},
        {"studentId": 9, "finalGrade": 93.9},
        {"studentId": 10, "finalGrade": 92.5}
    ]
    }

In [ ]:
print("------------------")
print("PROCESSING GRADEBOOK DATA...")
print("------------------")

# todo: write some python here

------------------
PROCESSING GRADEBOOK DATA...
------------------

In [ ]:
from statistics import mean, median
import numpy as np

## Challenge 2 (Rideshare)



Given the Python variable called `trip` provided below, write Python code which references that variable to perform each of the following tasks...

A) Print a human-friendly message to denote the driver’s first name (i.e. `“Your driver is Danny"`).

B) Assuming stops can get added or removed at any time, print the number of stops this trip makes (i.e. `3`).

C) Assuming the stops will always be listed in ascending order of their stop sequence, and there will always be at least one stop, print the destination of the FIRST stop (i.e. `"Madison Square”`).

D) Assuming the stops will always be listed in ascending order of their stop sequence, and there will always be at least one stop, but the number of stops may change at any time, print the destination of the LAST stop (i.e. `“Washington Square”`).

E) Loop through each of the trip’s stops and print that stop’s passenger name, one at a time (i.e. `“Vishal”`, then `“Clara”`, then `“Lee”`, each on a separate line):

In [ ]:
# leave this cell as-is (and run it)
trip = {
    "driver": {
        "first_name": "Danny",
        "last_name": "Dreyfus",
        "avg_rating": 3.6,
        "total_rides": 950
    },
    "vehicle": {
        "make": "Tesla",
        "model": "Cybertruck",
        "year": 2021,
        "color": "silver"
    },
    "rideshare": True,
    "pickup_location": "Grand Central Terminal",
    "stops": [
        {"sequence": 1, "passenger": "Vishal", "destination": "Madison Square", "fare": 3.99},
        {"sequence": 2, "passenger": "Clara", "destination": "Union Square", "fare": 5.99},
        {"sequence": 3, "passenger": "Lee", "destination": "Washington Square", "fare": 7.99}
    ]
}

In [ ]:

print("------------------")
print("PROCESSING RIDESHARE DATA...")
print("------------------")

# todo: write some python here

------------------
PROCESSING RIDESHARE DATA...
------------------

## Challenge 3 (Social Media Posts)


Given the Python variable called `tweets` provided below, write Python code which references that variable to perform each of the following tasks...

A) Print the screen name of the user who authored the first tweet (i.e. `“sandwhoa”`).


B) Of all the tweets which include the phrase `“@sandwhoa”` in their full text, print the screen name of the user who authored that tweet, each on a separate line (i.e. `“person2”`, then `“person3”`).

C) Of all the tweets which include the phrase `“@sandwhoa”` in their full text, determine which tweet has the greatest number of likes, and then print the screen name of the user who authored that tweet (i.e. `“person3”`). FYI: Assume the tweet order can change at any time and has no relationship with the number of likes.

In [ ]:
# leave this cell as-is (and run it)
tweets = [
    {
        "id": 100200297,
        "full_text": "Look at this delicious sandwich!",
        "img_url": "https://sandwhoa.com/sandwich.png",
        "user": {"screen_name": "sandwhoa", "followers": 5000},
        "likes_count": 150
    },
    {
        "id": 100200298,
        "full_text": "I love sandwiches",
        "img_url": None,
        "user": {"screen_name": "person1", "followers": 100},
        "likes_count": 5
    },
    {
        "id": 100200299,
        "full_text": "@sandwhoa yumm...",
        "img_url": None,
        "user": {"screen_name": "person2", "followers": 200},
        "likes_count": 10
    },
    {
        "id": 100200300,
        "full_text": "@sandwhoa that sandwich looks amazing!!",
        "img_url": None,
        "user": {"screen_name": "person3", "followers": 300},
        "likes_count": 35
    },
    {
        "id": 100200301,
        "full_text": "I ate a great sandwich today",
        "img_url": None,
        "user": {"screen_name": "person4", "followers": 400},
        "likes_count": 50
    }
]

In [ ]:

print("------------------")
print("PROCESSING SOCIAL MEDIA DATA...")
print("------------------")

# todo: write some python here

------------------
PROCESSING SOCIAL MEDIA DATA...
------------------

## Challenge 4 (Weather Forecast)


Given the Python variable called `weather_data` provided below, write Python code which references that variable to perform the following tasks...

A) For each day in the provided data (excluding night-time forecasts), print a human-readable weather forecast on that date. 

B) ... and display an image of the weather on that date. HINT: see example image display setup cell below, using `IPython.display` module.

In [ ]:

#
# SETUP CELL 
# ... leave this cell as-is (and run it to see the example images)
# ... feel free to reference / adapt this code later
#

from IPython.display import Image, display 

print("-----------")
print("EXAMPLE IMAGES:")

print("-----------")
image_url = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Georgetown_Hoyas_logo.svg/64px-Georgetown_Hoyas_logo.svg.png"
#image_url = "https://www.clipartmax.com/png/middle/285-2854649_nyu-logo-new-york-university-logo.png"
display(Image(url=image_url, height=100))

print("-----------")
display(Image(url="https://www.python.org/static/community_logos/python-powered-w-200x80.png"))

print("-----------")
display(Image(url="https://api.weather.gov/icons/land/day/tsra_sct,60?size=medium", height=100))

-----------
EXAMPLE IMAGES:
-----------

-----------

-----------

In [ ]:
# leave this cell as-is (and run it)

weather_data = {
    "type": "Feature",
    "geometry": {
        "type": "Polygon",
        "coordinates": [
            [
                [-77.036996200000004, 38.900789000000003],
                [-77.040754800000002, 38.878836500000006],
                [-77.012551900000005,  38.875908600000002],
                [-77.008787600000005, 38.897860800000004],
                [-77.036996200000004, 38.900789000000003]
            ]
        ]
    },
    "properties": {
        "updated": "2021-06-08T17:34:46+00:00",
        "units": "us",
        "forecastGenerator": "BaselineForecastGenerator",
        "generatedAt": "2021-06-08T18:32:38+00:00",
        "updateTime": "2021-06-08T17:34:46+00:00",
        "validTimes": "2021-06-08T11:00:00+00:00/P7DT14H",
        "elevation": {
            "value": 6.0960000000000001,
            "unitCode": "unit:m"
        },
        "periods": [
            {
                "number": 1,
                "name": "This Afternoon",
                "startTime": "2021-06-08T14:00:00-04:00",
                "endTime": "2021-06-08T18:00:00-04:00",
                "isDaytime": True,
                "temperature": 91,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "7 mph",
                "windDirection": "W",
                "icon": "https://api.weather.gov/icons/land/day/tsra_sct,60?size=medium",
                "shortForecast": "Showers And Thunderstorms Likely",
                "detailedForecast": "Showers and thunderstorms likely. Partly sunny, with a high near 91. West wind around 7 mph. Chance of precipitation is 60%. New rainfall amounts less than a tenth of an inch possible."
            },
            {
                "number": 2,
                "name": "Tonight",
                "startTime": "2021-06-08T18:00:00-04:00",
                "endTime": "2021-06-09T06:00:00-04:00",
                "isDaytime": False,
                "temperature": 73,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "1 to 6 mph",
                "windDirection": "SW",
                "icon": "https://api.weather.gov/icons/land/night/tsra_sct,60/tsra_sct,20?size=medium",
                "shortForecast": "Showers And Thunderstorms Likely then Chance Showers And Thunderstorms",
                "detailedForecast": "Showers and thunderstorms likely before 8pm, then a chance of showers and thunderstorms between 8pm and 2am. Mostly cloudy, with a low around 73. Southwest wind 1 to 6 mph. Chance of precipitation is 60%. New rainfall amounts between a tenth and quarter of an inch possible."
            },
            {
                "number": 3,
                "name": "Wednesday",
                "startTime": "2021-06-09T06:00:00-04:00",
                "endTime": "2021-06-09T18:00:00-04:00",
                "isDaytime": True,
                "temperature": 90,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "1 to 6 mph",
                "windDirection": "W",
                "icon": "https://api.weather.gov/icons/land/day/tsra_sct,30/tsra_sct,60?size=medium",
                "shortForecast": "Showers And Thunderstorms Likely",
                "detailedForecast": "A slight chance of rain showers between 8am and 11am, then showers and thunderstorms likely. Mostly cloudy, with a high near 90. West wind 1 to 6 mph. Chance of precipitation is 60%. New rainfall amounts between a tenth and quarter of an inch possible."
            },
            {
                "number": 4,
                "name": "Wednesday Night",
                "startTime": "2021-06-09T18:00:00-04:00",
                "endTime": "2021-06-10T06:00:00-04:00",
                "isDaytime": False,
                "temperature": 71,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "1 to 6 mph",
                "windDirection": "W",
                "icon": "https://api.weather.gov/icons/land/night/tsra_sct,60/tsra_sct,30?size=medium",
                "shortForecast": "Showers And Thunderstorms Likely",
                "detailedForecast": "Showers and thunderstorms likely before 2am, then a slight chance of showers and thunderstorms. Mostly cloudy, with a low around 71. West wind 1 to 6 mph. Chance of precipitation is 60%. New rainfall amounts between a tenth and quarter of an inch possible."
            },
            {
                "number": 5,
                "name": "Thursday",
                "startTime": "2021-06-10T06:00:00-04:00",
                "endTime": "2021-06-10T18:00:00-04:00",
                "isDaytime": True,
                "temperature": 89,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "1 to 6 mph",
                "windDirection": "NE",
                "icon": "https://api.weather.gov/icons/land/day/tsra_hi,60/tsra_hi,80?size=medium",
                "shortForecast": "Showers And Thunderstorms",
                "detailedForecast": "Showers and thunderstorms. Partly sunny, with a high near 89. Northeast wind 1 to 6 mph. Chance of precipitation is 80%."
            },
            {
                "number": 6,
                "name": "Thursday Night",
                "startTime": "2021-06-10T18:00:00-04:00",
                "endTime": "2021-06-11T06:00:00-04:00",
                "isDaytime": False,
                "temperature": 70,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "2 to 6 mph",
                "windDirection": "E",
                "icon": "https://api.weather.gov/icons/land/night/tsra,80?size=medium",
                "shortForecast": "Showers And Thunderstorms",
                "detailedForecast": "Showers and thunderstorms. Mostly cloudy, with a low around 70. Chance of precipitation is 80%."
            },
            {
                "number": 7,
                "name": "Friday",
                "startTime": "2021-06-11T06:00:00-04:00",
                "endTime": "2021-06-11T18:00:00-04:00",
                "isDaytime": True,
                "temperature": 76,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "2 to 8 mph",
                "windDirection": "E",
                "icon": "https://api.weather.gov/icons/land/day/tsra,80?size=medium",
                "shortForecast": "Showers And Thunderstorms",
                "detailedForecast": "Showers and thunderstorms. Mostly cloudy, with a high near 76. Chance of precipitation is 80%."
            },
            {
                "number": 8,
                "name": "Friday Night",
                "startTime": "2021-06-11T18:00:00-04:00",
                "endTime": "2021-06-12T06:00:00-04:00",
                "isDaytime": False,
                "temperature": 64,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "7 mph",
                "windDirection": "NE",
                "icon": "https://api.weather.gov/icons/land/night/tsra,80/tsra,70?size=medium",
                "shortForecast": "Showers And Thunderstorms",
                "detailedForecast": "Showers and thunderstorms. Mostly cloudy, with a low around 64. Chance of precipitation is 80%."
            },
            {
                "number": 9,
                "name": "Saturday",
                "startTime": "2021-06-12T06:00:00-04:00",
                "endTime": "2021-06-12T18:00:00-04:00",
                "isDaytime": True,
                "temperature": 79,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "7 mph",
                "windDirection": "NE",
                "icon": "https://api.weather.gov/icons/land/day/rain_showers,50/tsra_sct,50?size=medium",
                "shortForecast": "Chance Rain Showers",
                "detailedForecast": "A chance of rain showers before 2pm, then a chance of showers and thunderstorms. Partly sunny, with a high near 79. Chance of precipitation is 50%."
            },
            {
                "number": 10,
                "name": "Saturday Night",
                "startTime": "2021-06-12T18:00:00-04:00",
                "endTime": "2021-06-13T06:00:00-04:00",
                "isDaytime": False,
                "temperature": 63,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "2 to 7 mph",
                "windDirection": "E",
                "icon": "https://api.weather.gov/icons/land/night/tsra_hi,40/tsra_hi,30?size=medium",
                "shortForecast": "Chance Showers And Thunderstorms",
                "detailedForecast": "A chance of showers and thunderstorms. Partly cloudy, with a low around 63. Chance of precipitation is 40%."
            },
            {
                "number": 11,
                "name": "Sunday",
                "startTime": "2021-06-13T06:00:00-04:00",
                "endTime": "2021-06-13T18:00:00-04:00",
                "isDaytime": True,
                "temperature": 82,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "2 to 8 mph",
                "windDirection": "SE",
                "icon": "https://api.weather.gov/icons/land/day/rain_showers,30/tsra_hi,30?size=medium",
                "shortForecast": "Chance Rain Showers",
                "detailedForecast": "A chance of rain showers before 2pm, then a chance of showers and thunderstorms. Mostly sunny, with a high near 82. Chance of precipitation is 30%."
            },
            {
                "number": 12,
                "name": "Sunday Night",
                "startTime": "2021-06-13T18:00:00-04:00",
                "endTime": "2021-06-14T06:00:00-04:00",
                "isDaytime": False,
                "temperature": 64,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "2 to 8 mph",
                "windDirection": "S",
                "icon": "https://api.weather.gov/icons/land/night/tsra_hi,30/tsra_hi?size=medium",
                "shortForecast": "Chance Showers And Thunderstorms then Slight Chance Showers And Thunderstorms",
                "detailedForecast": "A chance of showers and thunderstorms before 8pm, then a slight chance of showers and thunderstorms. Partly cloudy, with a low around 64. Chance of precipitation is 30%."
            },
            {
                "number": 13,
                "name": "Monday",
                "startTime": "2021-06-14T06:00:00-04:00",
                "endTime": "2021-06-14T18:00:00-04:00",
                "isDaytime": True,
                "temperature": 84,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "2 to 6 mph",
                "windDirection": "W",
                "icon": "https://api.weather.gov/icons/land/day/rain_showers/tsra_hi?size=medium",
                "shortForecast": "Slight Chance Rain Showers then Slight Chance Showers And Thunderstorms",
                "detailedForecast": "A slight chance of rain showers before 2pm, then a slight chance of showers and thunderstorms. Mostly sunny, with a high near 84."
            },
            {
                "number": 14,
                "name": "Monday Night",
                "startTime": "2021-06-14T18:00:00-04:00",
                "endTime": "2021-06-15T06:00:00-04:00",
                "isDaytime": False,
                "temperature": 64,
                "temperatureUnit": "F",
                "temperatureTrend": None,
                "windSpeed": "2 to 6 mph",
                "windDirection": "W",
                "icon": "https://api.weather.gov/icons/land/night/tsra_hi?size=medium",
                "shortForecast": "Chance Showers And Thunderstorms",
                "detailedForecast": "A chance of showers and thunderstorms. Partly cloudy, with a low around 64."
            }
        ]
    }
}

In [ ]:
print("------------------")
print("PROCESSING WEATHER DATA...")
print("------------------")

# todo: write some python here

------------------
PROCESSING WEATHER DATA...
------------------

# Pandas Package Foreshadowing

Looking ahead to next module with some basic pandas DataFrame operations. for more info, peek ahead to the Module 2 materials in Canvas, including the pandas package overview notebook.

### Creating DataFrames from Scratch

In [ ]:
from pandas import DataFrame

financial_data = [
    {"symbol": "MSFT",  "company_name": "Microsoft", "latest_close": 100.00},
    {"symbol": "GOOGL", "company_name": "Google", "latest_close": 200.00},
    {"symbol": "NFLX",  "company_name": "Netflix", "latest_close": 300.00},
    {"symbol": "AMZN",  "company_name": "Amazon", "latest_close": 1000.00},

]
practice_df = DataFrame(financial_data)

print(type(practice_df))

<class 'pandas.core.frame.DataFrame'>

### Pandas DataFrame Operations

In [ ]:
practice_df.head()

  symbol company_name  latest_close
0   MSFT    Microsoft         100.0
1  GOOGL       Google         200.0
2   NFLX      Netflix         300.0
3   AMZN       Amazon        1000.0

In [ ]:
print(len(practice_df))

4

In [ ]:
print(practice_df.columns)
print(practice_df.columns.tolist)

Index(['symbol', 'company_name', 'latest_close'], dtype='object')
<bound method IndexOpsMixin.tolist of Index(['symbol', 'company_name', 'latest_close'], dtype='object')>

### Pandas Series Operations

In [ ]:

practice_df["latest_close"]

0     100.0
1     200.0
2     300.0
3    1000.0
Name: latest_close, dtype: float64

In [ ]:
print(type(practice_df["latest_close"]))

<class 'pandas.core.series.Series'>

In [ ]:
print("MIN:", practice_df["latest_close"].min())
print("MAX:", practice_df["latest_close"].max())
print("MEAN:", practice_df["latest_close"].mean())

MIN: 100.0
MAX: 1000.0
MEAN: 400.0

# CSV / XLSX Data Challenges

## Challenge 5 (Gradebook CSV)


Given the [provided hosted "gradebook.csv" file](https://raw.githubusercontent.com/prof-rossetti/intro-to-python/main/data/gradebook.csv), write Python code to read the CSV data and perform each of the following tasks...

A) Print the number of students / rows (i.e. `10`).

B) Print the column names (i.e. `["student_id", "final_grade"]`).

C) Print the average / mean grade (i.e. `83.64`).

D) Print the median grade (i.e. `87.6`).

E) Create another column on the DataFrame called "letter_grade", and use a custom function to assign each numeric score a corresponding letter grade. Use any grading scale you would like.

F) Print the percentage of students who got each grade.

In [ ]:
from statistics import mean, median
import numpy as np

from pandas import read_csv #, DataFrame

#
# GRADEBOOK
#

#df = read_csv("gradebook.csv") # manual upload strategy
df = read_csv("https://raw.githubusercontent.com/prof-rossetti/intro-to-python/main/data/gradebook.csv") # hosted strategy
print(df.head())

   student_id  final_grade
0           1         76.7
1           2         85.1
2           3         50.3
3           4         89.8
4           5         97.4

In [ ]:
import numpy as np

In [ ]:

print("LETTER GRADES...")

def calculate_grade(score):
    if score >= 75.0:
        grade = "Pass"
    else:
        grade = "Fail"
    return grade

LETTER GRADES...

In [ ]:
calculate_grade(95)

'Pass'

In [ ]:
calculate_grade(40)

'Fail'

In [ ]:

#print(df["letter_grade"].value_counts())

# print(df["letter_grade"].value_counts(normalize=True))

# Alphavantage API Data Challenges

For these challenges, we will be using data from the Alphavantage API.

Before proceeding, take a moment to locate one of the professor's "premium" API Keys, shared via Slack and/or Canvas. This is a secret credential like a password, so it is important to securely provide the key via the setup cell below.

First **run the setup cell** to provide the API Key.

Then, for each of the challenges below:
  1. Read the docs for the [AlphaVantage API](https://www.alphavantage.co/documentation/).
  2. Find the endpoint and corresponding URL for requesting **unemployment data**.
  3. Optionally make an example request in the browser, to verify the data is there and start to visually inspect its structure.
  4. Make the request programmatically via Python.
  5. Parse the response data, to answer the questions below.

> NOTE: steps 1-4 have been done for you 😸

### Setup Cell (API Key)

In [ ]:
#
# SETUP CELL (RUN AND DO NOT MODIFY)
#

from getpass import getpass

# copy one of the professor's premium keys from Canvas or Slack, 
# then run this cell and paste it when prompted
# avoid printing or otherwise exposing this secret credential!
API_KEY = getpass("Please input your Alphavantage API KEY: ")

Please input your Alphavantage API KEY: ··········

### Challenge 6 (Unemployment JSON)


A)  What is the most recent unemployment rate? And the corresponding date? Display the unemployment rate using a percent sign.

> NOTE: assume the most recent data is first (i.e. no need to sort, although it may be helpful / safe to do so)

> HINT: use a format string or string concat to help with the percent sign display 


B) What is the average unemployment rate for all months during this calendar year? How many months are included?

> HINT: use a filtering operation to get only the datapoints we care about. You could maybe use substring inclusion in your filter condition.

> HINT: you might need to convert the string values to float datatype

C) Plot a line chart of unemployment rates over time.

> HINT: use the `matplotlib` or `plotly` package

> HINT: you might need to convert the string values to float datatype

In [ ]:
import requests
import json
#from pprint import pprint

request_url = f"https://www.alphavantage.co/query?function=UNEMPLOYMENT&apikey={API_KEY}"

response = requests.get(request_url)

parsed_response = json.loads(response.text)
print(type(parsed_response))
print(parsed_response)
#pprint(parsed_response)
print(parsed_response.keys())

<class 'dict'>

In [ ]:
print(parsed_response["name"])

Unemployment Rate

In [ ]:
data = parsed_response["data"]
print(type(data))

<class 'list'>

In [ ]:
# Challenge A
#
# What is the most recent unemployment rate? And the corresponding date? 
# Display the unemployment rate using a percent sign.

print("-------------------------")
print("LATEST UNEMPLOYMENT RATE:")
#print(data[0])
print(f"{data[0]['value']}%", "as of", data[0]["date"])

-------------------------
LATEST UNEMPLOYMENT RATE:
3.7% as of 2022-11-01

In [ ]:

# Challenge B
# 
# What is the average unemployment rate for all months during this calendar year?
# ... How many months does this cover?

from statistics import mean

this_year = [d for d in data if "2022-" in d["date"]]

rates_this_year = [float(d["value"]) for d in this_year]
#print(rates_this_year)

print("-------------------------")
print("AVG UNEMPLOYMENT THIS YEAR:", f"{mean(rates_this_year)}%")
print("NO MONTHS:", len(this_year))

-------------------------
AVG UNEMPLOYMENT THIS YEAR: 3.6636363636363636%
NO MONTHS: 11

In [ ]:
# Challenge C
# 
# Plot a line chart of unemployment rates over time.

from plotly.express import line

dates = [d["date"] for d in data]
rates = [float(d["value"]) for d in data]

fig = line(x=dates, y=rates, title="United States Unemployment Rate over time", labels= {"x": "Month", "y": "Unemployment Rate"})
fig.show()

### Challenge 7 (Unemployment CSV)


A)  What is the most recent unemployment rate? And the corresponding date? Display the unemployment rate using a percent sign.

> NOTE: assume the most recent data is first (i.e. no need to sort, although it may be helpful / safe to do so)

> HINT: use a format string or string concat to help with the percent sign display 


B) What is the average unemployment rate for all months during this calendar year? How many months are included?

> HINT: use a filtering operation to get only the datapoints we care about. You could maybe use substring inclusion in your filter condition.

> HINT: you might need to convert the string values to float datatype


> HINT: try a [pandas substring operation](https://stackoverflow.com/questions/11350770/filter-pandas-dataframe-by-substring-criteria
)

C) Plot a line chart of unemployment rates over time.

> HINT: use the `matplotlib` or `plotly` package

> HINT: you might need to convert the string values to float datatype

In [ ]:
from pandas import read_csv

request_url = f"https://www.alphavantage.co/query?function=UNEMPLOYMENT&apikey={API_KEY}&datatype=csv"

df = read_csv(request_url)

df.head()

    timestamp  value
0  2022-11-01    3.7
1  2022-10-01    3.7
2  2022-09-01    3.5
3  2022-08-01    3.7
4  2022-07-01    3.5

In [ ]:
# Challenge A
#
# What is the most recent unemployment rate? And the corresponding date? 
# Display the unemployment rate using a percent sign.

print("-------------------------")
print("LATEST UNEMPLOYMENT RATE:")

-------------------------
LATEST UNEMPLOYMENT RATE:

In [ ]:

# Challenge B
# 
# What is the average unemployment rate for all months during this calendar year?
# ... How many months does this cover?

# https://stackoverflow.com/questions/11350770/filter-pandas-dataframe-by-substring-criteria
# this_year_df = df[df["timestamp"].str.contains("2022-")]
# print(this_year_df)

In [ ]:
# Challenge C
# 
# Plot a line chart of unemployment rates over time.

from plotly.express import line

## passing lists / series:
#fig = line(x=df["timestamp"], y=df["value"], 
#           title="United States Unemployment Rate over time", 
#           labels= {"x": "Month", "y": "Unemployment Rate"})
#fig.show()

In [ ]:
from plotly.express import line

# leveraging the pandas dataframe integration, referencing column names:
#fig = line(df, x="timestamp", y="value", 
#           title="United States Unemployment Rate over time", 
#           labels= {"timestamp": "Month", "value": "Unemployment Rate"})
#fig.show()